body {
    font-family: 'Open Sans', sans-serif;    
    /* background: #e4aed3; */
    margin: 0;
    padding: 0;
}

.blog-title {
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 20px;
    padding-bottom: 20px;
    color: #703d60;
    text-align: center;
    text-shadow: 2px 2px 2px #ffffff;
}

.underline-text {
    text-decoration: underline;
}

/* Styling the post cards */
.card {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 5%;
    
    z-index: 1;
}

.card-header {
    color: white;
    background-color: #703d60;
}

.card-content {
    margin-top: 10px;
}

.card-title {
    margin: 5px;

}

.card-content {
    margin: 10px;
}

.card-author {
    margin-top: 2%;
    margin-left: 70%;
}

.back-button {
    margin: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 1rem;
    border-width: 2px;
    border-color: #703d60;
    color: #703d60;
}
/* Dark Mode Img Styling */
.dark-mode-icon, .light-mode-icon {
    width: auto; /* Adjust this value to make the image smaller or larger */
    max-width: 250px;
    height: auto; /* This will maintain the aspect ratio of the image */
    margin-top: 50%;
}

.light-mode-icon {
    max-width: 170px;
    margin-top: 90%;
}



body.dark-mode {
    background-color: #703d60; /* Bootstrap dark background color */
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #e4aed3; /* Darker card backgrounds */
    color: #000000;
}

/* Add more custom dark mode styles as needed */

