body {
    font-family: 'Open Sans', sans-serif;
    background: #0f770a;
    margin: 0;
    padding: 0;
}

.form-title { 
    font-weight: 600; 
    font-size: 2em;
    margin-top: 15%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.form-label{
    margin-bottom: -22px;
    color: #fff;
    font-weight: 600;
}

.submit-btn {
    background: #0e6c0ef6;
    color: #f5f9f5;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: large;
}

#username, #title, #content {
    background: #d3e7d3f6;
    border: 2px solid #0e6c0ef6;
}

/* Assuming there's a parent container with the class .parent-container */
.parent-container {
    display: flex;
    flex-direction: column; /* Stack children vertically by default */
}

.container {
    order: 2; /* Move form below icon */
    width: 100%; /* Take up the whole page width */
    height: auto;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.dark-mode-icon {
    width: 45vw; /* Adjust based on desired size */
    height: auto; /* Maintain aspect ratio */
    order: 1; /* Ensure icon is above form */
    position: fixed; /* Keep if necessary for the default layout, but consider implications */
}


/* Back Button Styles */
.blog-button {
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 1rem;
    border-width: 2px;
    color: #0f770a; /* Text color */
    border-color: #0f770a;
}

.btn-outline-light:hover {
    background-color: #0f770a; /* Background color on hover */
    color: #fff; /* Text color on hover */
}


/* Media query for smaller screens */
@media screen and (max-width: 700px) {
    .container {
        order: 1; /* Move form above image */
        width: 100%; /* Ensure it takes up the full width */
    }

    .dark-mode-icon {
        order: 2; /* Move image below form */
        position: relative; /* Remove fixed positioning to allow reordering */
    }
}







